In [ ]:
# importing libraries

import pandas as pd
import datetime 
import numpy as np
from datetime import timedelta
import time

In [ ]:
# reading data. File name has been renamed as Data_dump.
data_file = 'Data_dump.csv'
user_data = pd.read_csv(data_file)
df = pd.DataFrame(user_data)

In [ ]:
df.head()

Spilting chartStartTime into date and time in order to be able to divide data by date.

In [ ]:
df[['date','start_time']] = df['ChatStartTime'].str.split(' ',n=1, expand=True)

divide data as per week

In [ ]:
# Feb_week1
feb_week1 = pd.DataFrame(pd.date_range('2021-02-01', '2021-02-07'), columns=['date'])
feb_week1['date'] = feb_week1['date'].dt.strftime('%d-%m-%Y')
feb_week1_df = pd.merge(df, feb_week1)

In [ ]:
# Feb_week2
feb_week2 = pd.DataFrame(pd.date_range('2021-02-08', '2021-02-14'), columns=['date'])
feb_week2['date'] = feb_week2['date'].dt.strftime('%d-%m-%Y')
feb_week2_df = pd.merge(df, feb_week2)

In [ ]:
# Feb_week3
feb_week3 = pd.DataFrame(pd.date_range('2021-02-15', '2021-02-21'), columns=['date'])
feb_week3['date'] = feb_week3['date'].dt.strftime('%d-%m-%Y')
feb_week3_df = pd.merge(df, feb_week3)

In [ ]:
# Feb_week4
feb_week4 = pd.DataFrame(pd.date_range('2021-02-22', '2021-02-28'), columns=['date'])
feb_week4['date'] = feb_week4['date'].dt.strftime('%d-%m-%Y')
feb_week4_df = pd.merge(df, feb_week4)

In [ ]:
#feb_week1_df.to_csv(r'test.csv', index = False)

# Chat Metrics

I have written the codes in the form of reusable functions for easy processing

In [ ]:
# 1. incoming chats

def incoming_chats(week_df):
  count_RoomCode = pd.DataFrame(week_df.RoomCode.value_counts())
  Incoming_chats = count_RoomCode['RoomCode'].sum()
  return(Incoming_chats)

incoming_chats(feb_week1_df)
#incoming_chats(feb_week2_df)
#incoming_chats(feb_week3_df)
#incoming_chats(feb_week4_df)

2763

In [ ]:
# 2. unique users

def uniq_users(week_df):
  unique_users = week_df.UserId.nunique(dropna = True)
  return(unique_users)

uniq_users(feb_week1_df)
#uniq_users(feb_week2_df)
#uniq_users(feb_week3_df)
#uniq_users(feb_week4_df)

2642

In [ ]:
# 3. closedby system

def by_bot(week_df):
  ClosedBy_bot = len(week_df[week_df['ClosedBy'] == 'System'])
  return(ClosedBy_bot)

by_bot(feb_week1_df)
#by_bot(feb_week2_df)
#by_bot(feb_week3_df)
#by_bot(feb_week4_df)

1788

In [ ]:
# 4. Bot defelction %

def bot_def(week_df):
  Bot_def = by_bot(week_df)/incoming_chats(week_df)
  print(Bot_def)

bot_def(feb_week1_df)
bot_def(feb_week2_df)
bot_def(feb_week3_df)
bot_def(feb_week4_df)

0.6471226927252985
0.6366412213740458
0.5966754155730534
0.6208673250322027

In [ ]:
# 5. closed by agents

def by_ag(week_df):
  ClosedBy_ag = len(week_df[week_df['ClosedBy'] != 'System'])
  return(ClosedBy_ag)

by_ag(feb_week1_df)
#by_ag(feb_week2_df)
#by_ag(feb_week3_df)
#by_ag(feb_week4_df)

975

# Agent Metrics

Here in the first two functions parameters to be passed are the week dataframes.

In [ ]:
# chats closed by agents each week

def ag_df(week_df):
  Ag_week_df = week_df[week_df['ClosedBy'] != 'System']
  return(Ag_week_df)

ag_df(feb_week1_df)

In [ ]:
# counting each agent and displaying each agent names for week1


def con_ag(week_df):
  count_ag = pd.DataFrame(ag_df(week_df).ClosedBy.value_counts())
  return(count_ag)

con_ag(feb_week1_df) 

#count_ag = pd.DataFrame(ag_df(feb_week4_df).ClosedBy.value_counts())
#count_ag

         ClosedBy
Adaa           35
Elina          29
Isha           28
Norah          27
Alia           26
...           ...
Daanish         3
Nayab           2
Ryla            1
Bot             1
Krishna         1

[88 rows x 1 columns]

In [ ]:
#count_ag.to_csv(r'count_ag4.csv', index = True)

Once the agent names are figured out by the above dataframe recieved, the functions below accept agent name as parameters for further processing per agent.

In [ ]:
# Dataframe per agent for feb_week1

def agent(ag_name):
  ag_week1 = feb_week1_df[feb_week1_df['ClosedBy'] == ag_name]
  return(ag_week1)

agent('Diya')

      RoomCode                                UserId  ...        date start_time
762    8544423  e8f360a1-92b2-424d-ab98-cfbcaeb9cbe4  ...  06-02-2021   13:56:45
1164   8524583  36b7054c-cedc-4235-8d47-cb3193538e57  ...  03-02-2021   18:30:29
1247   8521062  3764ed74-621a-4fac-a45e-f4ec703f526b  ...  03-02-2021   11:58:29
1260   8521910  733c0188-30a4-4e62-a5f8-bed500bd8b4f  ...  03-02-2021   13:25:53
1306   8520294  9cd4b875-de8a-430b-9d7b-ffa43f2b7171  ...  03-02-2021   10:37:29
1402   8522025  6aa86238-e05c-45a3-8469-c98fba590658  ...  03-02-2021   13:37:33
1470   8520355  64e6cdef-8462-4284-9147-f18b27ecc317  ...  03-02-2021   10:43:09
1473   8520882  787badf4-bd9d-4fa7-a8b0-2a520d9278d0  ...  03-02-2021   11:41:10
1480   8524275  7d306104-bced-4e99-95c5-e80f940ae794  ...  03-02-2021   17:49:02
1553   8507537  ed036802-8048-44c1-b845-e9ece77b9742  ...  01-02-2021   14:10:40
1616   8506224  ee1788c6-4251-4564-9520-a20af5d7d96c  ...  01-02-2021   11:54:14
1642   8507820  25e90bd7-57ca-4e7c-aa1d-5ae4c3dd2c4d  ...  01-02-2021   14:44:11
1853   8508248  ee7b7921-da46-4a56-b69e-e2b97301adf0  ...  01-02-2021   15:28:58
1999   8515708  dd1cc289-cc20-4fee-9250-31b48aefc1c3  ...  02-02-2021   15:30:06
2035   8513414  d6d6d83b-3950-47b3-82ad-0bf164a5ff8d  ...  02-02-2021   11:10:06
2262   8514777  aa993239-e5d4-4a21-9d15-1570707ca893  ...  02-02-2021   13:38:47
2366   8537830  91f26664-6659-429e-ada1-1f25f18da7d4  ...  05-02-2021   14:38:01
2395   8535661  d62135d5-2dd0-40de-90a1-2f304cbb24a1  ...  05-02-2021   10:21:25
2407   8537774  229870df-fd2f-4b3d-a5e4-c943281d3ce6  ...  05-02-2021   14:30:42
2522   8538061  8e03fd2d-3940-4ffa-b7e9-c4dff319b83d  ...  05-02-2021   15:07:14
2602   8539311  d991e14c-4f9b-4c31-afbe-6a89a4b2a976  ...  05-02-2021   17:42:30

[21 rows x 12 columns]

In [ ]:
# 1. Chats resolved by agents
def chat_resv(ag_name):
  res_ag = len(agent(ag_name)[agent(ag_name)['ClosingComment'] == 'Completed'])
  print(res_ag)

chat_resv('Diya')

15

In [ ]:
# 2. agent first response time

def resp_time(ag_name):
  res_time = pd.DataFrame()
  res_time[['hh','mm','ss']] = agent(ag_name)['AgentFirstResponseTime'].str.split(':',n=2, expand=True)
  res_time['ss'] = pd.to_numeric(res_time['ss'])
  res_time['mm'] = pd.to_numeric(res_time['mm'])
  res_time['hh'] = pd.to_numeric(res_time['hh'])
  ss1 = res_time['ss'].sum()
  ss2 = res_time['mm'].sum()*60            #converting minutes to seconds
  ss3 = res_time['hh'].sum()*3600          #converting hrs to second

  total_ss = ss1 + ss2 + ss3
  by_sum = res_time.ss.value_counts().sum()
  avg_ss = total_ss/by_sum
  return(avg_ss)

resp_time('Diya')

8.904761904761905

In [ ]:
# 3. chat resolution time
def resol_time(ag_name):
  res_time = pd.DataFrame()
  res_time['Time_Diff'] = pd.to_datetime(agent(ag_name).ChatEndTime) - pd.to_datetime(agent(ag_name).ChatStartTime)
  res_time = res_time['Time_Diff'].sum()
  by_time = agent(ag_name).value_counts().sum()
  avg_time = res_time/by_time
  return(avg_time)

resol_time('Diya')

Timedelta('0 days 00:14:09.857142857')

In [ ]:
# 4. Avg CSAT score
# Note : Here I multiplied avg_csat by 100 as values like 0.034 is getting displayed as 0 on the excel .
def csat(ag_name):
  score5 = len(agent(ag_name)[agent(ag_name)['CsatScore'] == 5])
  score4 = len(agent(ag_name)[agent(ag_name)['CsatScore'] == 4])
  max_score = score4 + score5
  score1 = len(agent(ag_name)[agent(ag_name)['CsatScore'] == 1])
  score2 = len(agent(ag_name)[agent(ag_name)['CsatScore'] == 2])
  score3 = len(agent(ag_name)[agent(ag_name)['CsatScore'] == 3])
  min_score = score1 + score2 + score3
  overall_csat = max_score/(max_score + min_score)
  by_score = len(agent(ag_name)[agent(ag_name)['CsatScore'] != 0])
  avg_csat = (overall_csat / by_score)*100
  return(avg_csat)

csat('Adaa')

4.938271604938271

In [ ]:
 # To create dataframe having working hrs

 def csat_hrs(ag_name):
  time_df = pd.DataFrame()
  time_df[['assn_date', 'assn_time']] =  agent(ag_name)['AgentAssignmentTimestamp'].str.split(' ',n=1, expand=True)
  merge_df = pd.merge(agent(ag_name), time_df, left_index=True, right_index=True)
  time_df.index = pd.to_datetime(time_df.assn_time)
  work_hrs = pd.DataFrame(time_df['assn_time'].between_time('10:00:00', '17:00:00'))
  work_hrs.reset_index(drop=True, inplace=True)
  wrk_csat = pd.merge(merge_df, work_hrs, on = 'assn_time' )
  return(wrk_csat)

 csat_hrs('Diya')

    RoomCode                                UserId  ...   assn_date assn_time
0    8544423  e8f360a1-92b2-424d-ab98-cfbcaeb9cbe4  ...  06-02-2021  13:59:23
1    8521062  3764ed74-621a-4fac-a45e-f4ec703f526b  ...  03-02-2021  11:59:11
2    8521910  733c0188-30a4-4e62-a5f8-bed500bd8b4f  ...  03-02-2021  13:26:39
3    8520294  9cd4b875-de8a-430b-9d7b-ffa43f2b7171  ...  03-02-2021  10:38:05
4    8522025  6aa86238-e05c-45a3-8469-c98fba590658  ...  03-02-2021  13:38:10
5    8520355  64e6cdef-8462-4284-9147-f18b27ecc317  ...  03-02-2021  10:43:49
6    8520882  787badf4-bd9d-4fa7-a8b0-2a520d9278d0  ...  03-02-2021  11:41:38
7    8507537  ed036802-8048-44c1-b845-e9ece77b9742  ...  01-02-2021  14:13:50
8    8506224  ee1788c6-4251-4564-9520-a20af5d7d96c  ...  01-02-2021  11:55:22
9    8507820  25e90bd7-57ca-4e7c-aa1d-5ae4c3dd2c4d  ...  01-02-2021  14:46:25
10   8508248  ee7b7921-da46-4a56-b69e-e2b97301adf0  ...  01-02-2021  15:29:46
11   8515708  dd1cc289-cc20-4fee-9250-31b48aefc1c3  ...  02-02-2021  15:31:41
12   8513414  d6d6d83b-3950-47b3-82ad-0bf164a5ff8d  ...  02-02-2021  11:29:56
13   8514777  aa993239-e5d4-4a21-9d15-1570707ca893  ...  02-02-2021  13:39:24
14   8537830  91f26664-6659-429e-ada1-1f25f18da7d4  ...  05-02-2021  14:38:48
15   8535661  d62135d5-2dd0-40de-90a1-2f304cbb24a1  ...  05-02-2021  10:21:56
16   8537774  229870df-fd2f-4b3d-a5e4-c943281d3ce6  ...  05-02-2021  14:31:41
17   8538061  8e03fd2d-3940-4ffa-b7e9-c4dff319b83d  ...  05-02-2021  15:08:30

[18 rows x 14 columns]

In [ ]:
# 5. Calculating avg score at working hrs

def csat_work_score(ag_name):
  score5 = len(csat_hrs(ag_name)[csat_hrs(ag_name)['CsatScore'] == 5])
  score4 = len(csat_hrs(ag_name)[csat_hrs(ag_name)['CsatScore'] == 4])
  max_score = score4 + score5
  score1 = len(csat_hrs(ag_name)[csat_hrs(ag_name)['CsatScore'] == 1])
  score2 = len(csat_hrs(ag_name)[csat_hrs(ag_name)['CsatScore'] == 2])
  score3 = len(csat_hrs(ag_name)[csat_hrs(ag_name)['CsatScore'] == 3])
  min_score = score1 + score2 + score3
  overall_csat = max_score/(max_score + min_score)
  by_score = len(csat_hrs(ag_name)[csat_hrs(ag_name)['CsatScore'] != 0])
  avg_csat = (overall_csat / by_score)*100
  return(avg_csat)

csat_work_score('Diya')

12.244897959183673

In [ ]:
# Dataframe of non - working hrs

def csat_non_hrs(ag_name):
  time_df = pd.DataFrame()
  time_df[['assn_date', 'assn_time']] =  agent(ag_name)['AgentAssignmentTimestamp'].str.split(' ',n=1, expand=True)
  merge_df = pd.merge(agent(ag_name), time_df, left_index=True, right_index=True)
  time_df.index = pd.to_datetime(time_df.assn_time)
  work_hrs = pd.DataFrame(time_df['assn_time'].between_time('17:00:00', '10:00:00'))
  work_hrs.reset_index(drop=True, inplace=True)
  wrk_csat = pd.merge(merge_df, work_hrs, on = 'assn_time' )
  return(wrk_csat)

csat_non_hrs('Diya')

   RoomCode                                UserId  ...   assn_date assn_time
0   8524583  36b7054c-cedc-4235-8d47-cb3193538e57  ...  03-02-2021  18:31:33
1   8524275  7d306104-bced-4e99-95c5-e80f940ae794  ...  03-02-2021  17:49:55
2   8539311  d991e14c-4f9b-4c31-afbe-6a89a4b2a976  ...  05-02-2021  17:43:03

[3 rows x 14 columns]

In [ ]:
# 6.Calculating avg score at non-working hrs

def csat_non_score(ag_name):
  score5 = len(csat_non_hrs(ag_name)[csat_non_hrs(ag_name)['CsatScore'] == 5])
  score4 = len(csat_non_hrs(ag_name)[csat_non_hrs(ag_name)['CsatScore'] == 4])
  max_score = score4 + score5
  score1 = len(csat_non_hrs(ag_name)[csat_non_hrs(ag_name)['CsatScore'] == 1])
  score2 = len(csat_non_hrs(ag_name)[csat_non_hrs(ag_name)['CsatScore'] == 2])
  score3 = len(csat_non_hrs(ag_name)[csat_non_hrs(ag_name)['CsatScore'] == 3])
  min_score = score1 + score2 + score3
  overall_csat = max_score/(max_score + min_score)
  by_score = len(csat_non_hrs(ag_name)[csat_non_hrs(ag_name)['CsatScore'] != 0])
  avg_csat = (overall_csat / by_score)*100
  return(avg_csat)

csat_non_score('Diya')

50.0